<!DOCTYPE html>
<html lang="en" ng-app="projectApp">
<head>
	<meta charset="UTF-8">
	<title>Отдел развития [проекты!]</title>
	<script src="_lib/angular.min.js"></script>
	<script src="_lib/angular-route.min.js"></script>
	<script src="_js/app.js"></script>
	<link rel="stylesheet" href="_css/defaultt.css">
	<link rel="stylesheet" href="_lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="top-menu">
		
	</div>
	<div class="all-projects" ng-controller="AllProjectsCtrl" ng-show="dataFctrl.visible">
		<table>
			<thead>
				<th ng-click="sort('ID')">ID</th>
				<th>Код проекта</th>
				<th>Номер заявки</th>
				<th ng-click="sort('ORG')">ЮЛ</th>
				<th ng-click="sort('ADDR')">Адрес</th>
				<th ng-click="sort('TOTAL')">Оборудование и расходные материалы, руб</th>
				<th ng-click="sort('WORK_TOTAL')">Стоимость работ, руб.</th>
				<th ng-click="sort('name')">Тип проекта</th>
			</thead>
			<tbody>
				<tr>
					<td colspan=8><input class="search-input"	type="text" ng-model="searchString" /></td>
				</tr>
				<tr ng-repeat="project in resultProjects = (projects | orderBy:sortField:reverse | filter:searchString)" ng-click="projectView(project.ID);">
					<td>{{project.ID}}</td>
					<td>{{project.NAME}}</td>
					<td>Отсутствует</td>
					<td>{{project.ORG}}</td>
					<td>{{project.ADDR}}</td>
					<td>{{project.TOTAL}}</td>
					<td>{{project.WORK_TOTAL}}</td>
					<td>{{project.TYPE_OF_PROJECT}}</td>
				</tr>
				<tr>
					<td colspan=7>Общее количество проектов:</td>
					<td colspan=7>{{resultProjects.length}}</td>
				</tr>
			</tbody>
		</table>		
	</div>
	<main>
		<div ng-controller="projectCtrl" ng-show="!dataFctrl.visible">
			<div class="project-detail">
				<table class="detail" width=100%>
					<tr><td colspan="4" class="caption"><ul><li>Детализация проекта: #{{dataFctrl.project.ID}}</li><li class="close" alt="Закрыть (Esq)" ng-click="projectView();">x</li></td></tr>
					<tr><td><i>Документ основание</i></td><td>{{dataFctrl.project.ID_IN}}</td><td><i>Внутренний номер проекта</i></td><td>{{dataFctrl.project.ID}}</td></tr>
					<tr><td colspan=4><b>Информация о клиенте</b></td></tr>
					<tr><td><i>Юр. лицо</i></td><td><a href="#organization">{{dataFctrl.project.ORG}}</a></td><td><i>Адрес</i></td><td><a href="#map">{{dataFctrl.project.ADDR}}</a></td></tr>
					<tr><td><i>Объем услуг</i></td><td colspan=3>- КПД 10Мб<a href="#" class="close">Изменить</a></tr>
					<tr><td><i>Инсталляция, руб.</i></td><td><a href="#">{{project[0].install}}</a></td><td><i>Абонентская плата, руб.</i></td><td><a href="#">{{project[0].abon}}</a></td></tr>
					<tr><td colspan=4><b>Аренда ресурсов</b></td></tr>
					<tr><td><i><i>Оператор</i></i></td><td><a href="#">Мегафон</a></td><td><i>Объект аренды</i></td><td><a href="#">КПД 10Мб</a></td></tr>
					<tr><td><i>Инсталляция, руб.</i></td><td><a href="#">{{project[0].arenda_install}}</a></td><td><i>Абонентская плата, руб.</i></td><td><a href="#">{{project[0].arenda_abon}}</a></td></tr>
					<tr><td colspan=4><b>Операционные затраты</b></td></tr>
					<tr><td><i>Оборудование и материалы, руб.</i></td><td>{{dataFctrl.project.TOTAL}}</td><td><i>Работы, руб.</i></td><td>{{dataFctrl.project.WORK_TOTAL}}</td></tr>
					<tr><td colspan=4><b>Комментарии по пректу: <a href="#comments" class="close">См. комментарии</a></b></td></tr>
				</table>
			</div>
			<div class="materials" ng-controller="materialsCtrl">
				<table width=100%>
					<thead>
						<th>Наименование</th>
						<th>Кол-во</th>
						<th>Стоимость, руб.</th>
						<th>Итого, руб.</th>
						<th>Уд.</th>
					</thead>
					<tbody>
						<tr ng-repeat="material in dataFctrl.materials">
							<td>{{material.NAME}}</td>
							<td><a href="#">{{material.UNIT}}</a></td>
							<td>{{material.COST}}</td>
							<td>{{material.TOTAL}}</td>
							<td><i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="deleteMaterial(material.ID);"></i></td>
						</tr>
						<tr>
							<td colspan="5" align="right"><a href="#materials">+ Добавить позицию</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="works" ng-controller="worksCtrl">
				<table width=100%>
					<thead>
						<th>Наименование</th>
						<th>Количество</th>
						<th>Стоимость, руб.</th>
						<th>Итого, руб.</th>
						<th>Уд.</th>
					</thead>
					<tbody>
						<tr ng-repeat="work in dataFctrl.works">
							<td>{{work.NAME}}</td>
							<td><a href="#" ng-click="changeNumber(work.ID);">{{work.UNIT}}</a></td>
							<td>{{work.COST}}</td>
							<td>{{work.TOTAL}}</td>
							<td><i class="fa fa-trash-o fa-lg" aria-hidden="true" ng-click="deleteWork(material.ID);"></i></td>
						</tr>
						<tr>
							<td colspan="5" align="right"><a href="#works">+ Добавить позицию</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pipl" ng-controller="piplsCtrl">
				<table width=100%>
					<thead>
						<th>№</th>
						<th>Фамилия</th>
						<th>Уд.</th>
					</thead>
					<tbody>
						<tr ng-repeat="pipl in pipls">
							<td>{{pipl.ID}}</td>
							<td>{{pipl.ONAME}}</td>
							<td><a href="#">x</a></td>
						</tr>
						<tr>
							<td colspan="3" align="right"><a href="#pipls">+ Добавить позицию</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="workflow" ng-view></div>
		</div>
	</main>
</body>
</html>