<!DOCTYPE html>
<html lang="en" ng-app="projectApp">
<head>
	<meta charset="UTF-8">
	<title>Отдел развития [проекты]</title>
<!-- 	<script src="_lib/angular.min.js"></script>
	<script src="_lib/angular-route.min.js"></script>
 -->	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
	<!-- <script src="_lib/ya-map-2.0.min.js"></script> -->
	<script src="_js/app.js"></script>
	<link rel="stylesheet" href="_css/defaultt.css">
</head>
<body>
	<div class="top-menu">
		
	</div>
	<div class="all-projects" ng-controller="AllProjectsCtrl" ng-show="dataFctrl.visible">
 		<table>
			<thead>
				<th ng-click="sort('id')">ID</th>
				<th>Код проекта</th>
				<th>Номер заявки</th>
				<th ng-click="sort('firma')">ЮЛ</th>
				<th ng-click="sort('addr')">Адрес</th>
				<th>Доход</th>
				<th>Затраты</th>
				<th ng-click="sort('name')">РП</th>
			</thead>
			<tbody>
			<tr>
				<td colspan=8><input class="search-input"	type="text" ng-model="searchString" /></td>
			</tr>
			<tr ng-repeat="project in resultProjects = (projects | orderBy:sortField:reverse | filter:searchString)" ng-click="projectView(project.id);">
					<td>{{project.id}}</td>
					<td>Отсутствует</td>
					<td>Отсутствует</td>
					<td>{{project.firma}}</td>
					<td>{{project.addr}}</td>
					<td>0</td>
					<td>0</td>
					<td>{{project.name}}</td>
				</tr>
				<tr>
					<td colspan=7>Общее количество проектов:</td>
					<td colspan=7>{{resultProjects.length}}</td>
				</tr>
			</tbody>
		</table>		
		</div>
	<main>
		<div ng-controller="projectCtrl" ng-show="!dataFctrl.visible">
			<div class="project-detail">
				<table class="detail" width=100%>
					<tr><td colspan="4" class="caption"><ul><li>Детализация проекта: #{{project[0].id}}</li><li class="close" alt="Закрыть (Esq)" ng-click="projectView();">x</li></td></tr>
					<tr><td><i>Документ основание</i></td><td>АА-327</td><td><i>Внутренний номер проекта</i></td><td>{{project[0].id}}</td></tr>
					<tr><td colspan=4><b>Информация о клиенте</b></td></tr>
					<tr><td><i>Юр. лицо</i></td><td><a href="#organization">{{project[0].firma}}</a></td><td><i>Адрес</i></td><td><a href="#map">{{project[0].addr}}</a></td></tr>
					<tr><td><i>Объем услуг</i></td><td colspan=3>- КПД 10Мб<a href="#" class="close">Изменить</a></tr>
					<tr><td><i>Инсталляция, руб.</i></td><td><a href="#">{{project[0].install}}</a></td><td><i>Абонентская плата, руб.</i></td><td><a href="#">{{project[0].abon}}</a></td></tr>
					<tr><td colspan=4><b>Аренда ресурсов</b></td></tr>
					<tr><td><i><i>Оператор</i></i></td><td><a href="#">Мегафон</a></td><td><i>Объект аренды</i></td><td><a href="#">КПД 10Мб</a></td></tr>
					<tr><td><i>Инсталляция, руб.</i></td><td><a href="#">{{project[0].arenda_install}}</a></td><td><i>Абонентская плата, руб.</i></td><td><a href="#">{{project[0].arenda_abon}}</a></td></tr>
					<tr><td colspan=4><b>Операционные затраты</b></td></tr>
					<tr><td><i>Оборудование и материалы, руб.</i></td><td><a href="#">{{project[0].material_price}}</a></td><td><i>Работы, руб.</i></td><td><a href="#">{{project[0].work_price}}</a></td></tr>
					<tr><td colspan=4><b>Комментарии по пректу: <a href="map.html" class="close">См. комментарии</a></b></td></tr>
				</table>
			</div>
			<div class="materials" ng-controller="materialsCtrl">
				<table>
					<thead>
						<th>Наименование</th>
						<th>Стоимость, руб.</th>
					</thead>
					<tbody>
						<tr ng-repeat="material in materials">
							<td>{{material.NAME}}</td>
							<td>{{material.COST}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="works" ng-controller="worksCtrl">
				<table>
					<thead>
						<th>Наименование</th>
						<th>Стоимость, руб.</th>
					</thead>
					<tbody>
						<tr ng-repeat="work in works">
							<td>{{work.NAME}}</td>
							<td>{{work.COST}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="pipl" ng-controller="piplsCtrl">
				<table>
					<thead>
						<th>№</th>
						<th>Фамилия</th>
						<th>Фамилия</th>
					</thead>
					<tbody>
						<tr ng-repeat="pipl in pipls">
							<td>{{pipl.ID}}</td>
							<td>{{pipl.ONAME}}</td>
							<td><a href="#">-</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="workflow" ng-view></div>
			
			<script type="text/ng-template" id="organization.html">
				<h2>Изменяем данные организации</h2>
				<input type="text">{{message}}
			</script>
			
			<script type="text/ng-template" id="map.html">
				<h2>Отображаем карту с объектом</h2>
				{{message}}
			</script>
		
		</div>
	</main>
</body>
</html>